.main{
    display: flex;
    justify-content: space-between;
    padding-left: 9%;
    padding-right: 9%;
    min-width: 320px;
}

hr{
    border: none;
    background: #4338CA;
    height: 1px;
    width: 102px;
    margin: 0;
}

[class*=__container] {
    max-width: 95rem;
    /*max-width: 73.125rem;*/
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 0.9375rem;
}


.main__text{
    max-width: 662px;
    padding-right: 20px;
}

.main__name{
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #4338CA;
}

.main__title{
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: #1F2937;
    padding-bottom: 40px;
}

.main__review{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #6B7280;
    padding-bottom: 40px;
    max-width: 553px;
}

.main__image{
    align-self: center;
}

.main__button{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    max-width: 308px;
}

.main__button1{
    align-items: center;
    padding: 12px 32px;
    gap: 10px;
    color: #FFFFFF;
    background: #3730A3;
    border-radius: 6px;
    display: block;
    position: relative;
    border: 2px solid #3730A3;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.main__button1:hover {
    color: #3730A3 !important;
    background-color: transparent;

}

.main__button1:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}

.main__button1:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #3730A3;
    background: #FFFFFF;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.main__button2 {
    align-items: center;
    padding: 12px 32px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 6px;
    color: #3730A3;
    display: block;
    position: relative;
    border: 2px solid #3730A3;
    box-sizing: border-box;
    transition: all 1s ease;
}

.main__button2:hover {
    color: #FFFFFF !important;
    background-color: #3730A3;

}


.main__button2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    color: #FFFFFF;
    background: #3730A3;
    border-radius: 5px;
    transition: all 1s ease;
}

.main__button2:hover:before {
    width: 100%;
}

.main__descr{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #6B7280;
    border-top: 1px solid #E5E7EB;
}

.menu__item, #menu__toggle {
    display: none;
}

.none{
    display: none;
}

@media (max-width: 1200px) {
    .main {
        padding-left: 6%;
        padding-right: 6%;
    }

    .main__title {
        font-size: 60px;
    }

}

@media (max-width:768px) {
    .main {
        padding-left: 4%;
        padding-right: 4%;
        flex-direction: column;
        text-align: center;
    }

    hr{
        display: none;
    }

    .main__title {
        font-size: 36px;
    }

    .main__text{
        text-align: center;
    }

    .main__name{
        justify-content: center;
        font-size: 50px;
    }

    .main__review{
        max-width: 100%;
        font-size: 19px;
    }

    .main__button{
        max-width: 350px;
        padding-left: 23%;
    }

    .main__descr{
        font-size: 17px;
        padding-bottom: 20px;
    }

    .main__image_photo{
        width: 95%;
    }
    
}

@media (max-width:415px){
    .main__name {
        font-size: 40px;
        padding-top: 0px;
    }

    .main__title{
        font-size: 30px;
        line-height: 40px;
    }

    .main__button {
        padding-left: 9%;
    }
}



